MARKET_SENTINEL_MODE=research
MARKET_SENTINEL_DATABASE_URL=sqlite+pysqlite:///data/market_sentinel.db
MARKET_SENTINEL_STARTING_CAPITAL=10
MARKET_SENTINEL_ASPIRATIONAL_TARGET=1000000
MARKET_SENTINEL_RESEARCH_PROVIDER=tauric
MARKET_SENTINEL_LLM_PROVIDER=ollama
MARKET_SENTINEL_LLM_MODEL=
MARKET_SENTINEL_PRIMARY_BROKER=groww

ALPACA_LIVE_TRADING_ENABLED=false
ALPACA_REAL_API_ENABLED=false
ALPACA_TRADING_ENDPOINT=https://paper-api.alpaca.markets
ALPACA_ACCOUNT_ID=
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=

INDIA_LIVE_TRADING_ENABLED=false
INDIA_ALGO_COMPLIANCE_VERIFIED=false
GROWW_REAL_API_ENABLED=false
GROWW_API_SUBSCRIPTION_ACTIVE=false
GROWW_PROTECTED_ORDER_CLIENT=false
GROWW_STATIC_OUTBOUND_IP=
GROWW_STATIC_IP_ALLOWLISTED=false
GROWW_ALGO_ID=
GROWW_ACCESS_TOKEN=
GROWW_API_KEY=
GROWW_SECRET_KEY=

CCXT_LIVE_TRADING_ENABLED=false
CCXT_REAL_API_ENABLED=false
CCXT_EXCHANGE_ID=
CCXT_SANDBOX=true
CCXT_API_KEY=
CCXT_SECRET=
CCXT_WITHDRAWALS_DISABLED_CONFIRMED=false
CCXT_IP_RESTRICTED_CONFIRMED=false
CCXT_NO_SANDBOX_ACKNOWLEDGED=false
